<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4">Create a new item</h1>
    <form method="post" >
        <label>Item name</label>
        <input type="text" name="item_name" />
        <label>Price</label>
        <input type="text" name="price"  value="1000"/>
        <button class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="AddOne">Add</button>
        <button class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="AddAnotherOne">Add Another One</button>
    </form>
</div>