    <div class="text-center">
        <h1 class="display-4">This is your profile.</h1>
        <h2>Email</h2>
        <h3>@Model.Email</h3>
        <h2>Password</h2>
        <h3>@Model.Password</h3>
    </div>
