@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Stealer's shop!</h1>
    <p>On this website, you can look at the items I want to sell to you.</p>
    <p>If you think the price is too high for an item you want to order, you can just subscribe to it (you won't purchase it, you just put it on a watchlist) and the website will tell you when there is a sale for that specific item. Isn't it so awesome? 🥺🥺</p>
</div>
